body {

   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(121, 185, 246);
   border-color: rgb(232, 54, 54);
   border-radius: 25px;
   border-width: 1rem;
   align-items: center;
   text-justify: center;
 }
 
 code {
   font-family: Arial, Helvetica, sans-serif;
   border: 10px;
 }
 